{%extends 'base.html' %}
{% load static%}

<!-- === End of Navigation Section ==== -->
<!-- === Start of Header Section ==== -->
{% block content %}
<header class="products-header">
    <img src="{%static 'images/stars.png'%}" class="img-fluid stars" alt="stars">
    <img src="{%static '/images/stars.png'%}" class="img-fluid stars2" alt="stars">

    <div class="heading-container">
        <h1>{{product_type}}</h1>
    
        

    </div>


</header>

<div class="products-bar-container">
    <div class="products-bar">
        {% if count < 1  %}
        <h5>There are currently no products</h5>
        {% else %}
        <h5>Showing all <span>({{count}})</span> results</h5>
        {% endif %}
        <div class="flex-container">

            <input type="text" placeholder="relavance" readonly>
            <input type="text" placeholder="Defualt sorting" readonly>
            
        </div>
    </div>

</div>
<section class="products-section">
    <div class="container">
        <div class="flex-container">
           <div class="products-container">

            {% for product in products %}
            <div class="card">
                <div class="img-container">
                    <img src="{{ product.picture.url }}" class="img-fluid" alt="{{product.name}}">

                </div>
                <div class="body">
                    <h6 style="text-transform: lowercase;">{{product.product_type}}</h6>
                    <h3 style="text-transform: capitalize;" >{{ product.name }}</h3>
                    

                </div>
            </div>

            {% endfor %}
   
           </div>
           <div class="categories-container">
            <div class="flex-container">
                <h5>Product Categories</h5>
                <div class="line"></div>
            </div>
            <ul>
                <li><a style="text-transform: capitalize;" href="{% url 'products' product_type='Perfume' %}">Perfumes</a></li>
                <li><a style="text-transform: capitalize;" href="{% url 'products' product_type='Detergents' %}">Detergents</a></li>
                <li><a style="text-transform: capitalize;" href="{% url 'products' product_type='Packaging' %}">Packaging</a></li>
            </ul>

           </div>

        </div>
    </div>

</section>
<br>
<br>
<br>
<br>
<br>
<br>
    <!-- === End of Header Section ==== -->
    {% endblock content %}